$nk-blue: #124191;
$sim-high: #39b54a;
$sim-medhi: #fbb03b;
$sim-medlo:#fce221;
$sim-low: #ff391f;

$black: #333333;
$dark-gray: #666666;
$gray-borders: #e6e6e6;
$gray-contents: #f2f2f2;
$white: #ffffff;